" -- Leader
" set leader to <space>
let mapleader = " "

" -- Basic settings
" Show a few lines of context around the cursor
set scrolloff=5

" Do incremental searching
set incsearch

" Relative line number
set nu
set rnu

" Join lines
set ideajoin

" Prevent beeping on error
set visualbell

" -- Remap
" Don't use Ex mode, use Q for formatting
map Q gq

" Move selection up/down
vmap K <Action>(MoveStatementUp)
vmap J <Action>(MoveStatementDown)

" Rename
map <leader>rn <Action>(RenameElement)

" Go to definition
map gd <Action>(GotoDeclaration)

" Go to implementation
map gI <Action>(GotoImplementation)

" Go to type definition
map gT <Action>(GotoTypeDeclaration)

" Code action
map <leader>cm <Action>(ShowIntentionActions)

" Show usage
map <leader>gr <Action>(ShowUsages)

" Go to prev/next diagnostic
map <leader>pd <Action>(GotoPreviousError)
map <leader>nd <Action>(GotoNextError)

" Open diagnostic
map <leader>od <Action>(ShowErrorDescription)

" Project find and project grep
map <leader>pf <Action>(GotoFile)
map <leader>pg <Action>(FindInPath)

" Copy to clipboard
map <leader>y "+y

" Better jump, default one seems broken
nmap <C-o> :action Back<CR>
nmap <C-i> :action Forward<CR>

" -- Plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'

" Commentary plugin
Plug 'tpope/vim-commentary'